body {
    margin: o;
    padding: 0;
    header{
        height: 100px;       
        background-color: rgb(211, 65, 65);
        color:antiquewhite;
        h1{
            padding-top: 25px;
            text-align:center ;
            margin-bottom:80px 0;
            
            }
        
    }
    
    .container{
       display: flex;
        div{
            align-items: center;
            
            div.card{
                
                img{
                    width: 150px;

                } 
                div.card-body{
                   h5{

                    }
                    p{

                    }
                    h3{

                    } 
                    button{
                                              
                    }
                }
            }
        }  
    }
}     