$color1: rgb(211, 65, 65);
$color2: rgb(252, 252, 252);
$color3: rgba(39, 39, 39, 0.959);
$color-shadow:rgba(155, 154, 154, 0.623);
$colorParrafos: rgb(131, 131, 131);
$colorTitulos:rgb(49, 47, 47);
$breakpoint-tablet: 429px;
$font-titulos:'Mulish', sans-serif;
$font-parrafos: 'Lato', sans-serif;

*.row{
    --bs-gutter-x: 0;  
}
body {
    margin: 0;
    padding: 0;
    nav.navbar{
        height: auto;       
        padding: 0px;
        box-shadow: 0px 5px 10px $color-shadow; 
        /* margin-bottom: 60px; */
        div.container-fluid{
            background-color: $color1;
            padding-top: 25px;
            margin-bottom:80px 0;
            p{
                font-size: 20px;
                font-family: $font-parrafos;
                color:$color2;
                text-decoration:none;
                @media (max-width: $breakpoint-tablet){
                    font-family: $font-parrafos;
                    color:$color2;
                    text-decoration:none;
                }
            }
            p.alertas{
                position: absolute;
                left: 80%;
                top: 90%;
                width: 200px;
                padding: 0px;
                
                color: rgb(75, 71, 71);
                font-size: 14px;
                box-shadow: 0px 0px 15px $color3;   
                @media (max-width: $breakpoint-tablet){
                    left: 25vh;                                
                }
            }
            div.descripcion-productos{
                
                div.productos-contador{
                    .img-carrito{
                        background-color: $color1;
                        color: $color2;
                        width: 30px;
                    }
                    b#contador-carrito{
                        font-family: $font-parrafos;
                        color:$color2;
                    }      
                }
                .icon-menu{
                    margin-left: 15px;
                    height: 3em;
                }
            
            
            }
        }       
    }
    #scroll{
            background-color: $color3;  
            height: 60vh;
            overflow-y:auto;    
            .container{
                h2{
                    font-family: $font-titulos;
                    margin: 20px 10px;
                    color: $color2;
                }
                .localStorage-nav{
                    
                    .shoppingCartItem{
                        display: block;
                        .shoppingCartItemTitle{
                            margin-bottom: -4px; 
                            margin-left: 10vw;
                        }
                        div{
                            display: flex;
                            height: auto;
                            justify-content: center;
                            margin: 0px 0px 20px;
                             img{
                            border-radius: 12%;
                            width: 10vh;
                            @media (max-width: $breakpoint-tablet){
                                display:none;
                                
                            }
                        }
                        .cantidad-producto{
                            width: 20px;
                        }
                        .id-producto{
                            visibility: hidden;
                            width: 0px;
                        }
                        p{
                            font-family: $font-parrafos;
                            width: 80px;
                            font-size: 12px;
                            color: color2;
                        }
                        .item-price{
                            width: 30px;
                        }
                        input{
                            font-family: $font-parrafos;
                            color:  $colorTitulos;
                            height: 25px;
                            width: 20%;
                            border-radius: 10px;
                            margin-top: 10px;
                        }
                        button{
                            font-family: $font-parrafos;
                            font-size: 15px;
                            height: 40px;
                            
                        }
                        }
                       
                    }
                    .shoppingCartItem:hover{
                        border-radius: 0px;
                        background-color: rgba(0, 0, 0, 0.514);
                    }
                }
            }
            div {
                .contenedor-vaciar-carrito{
                    .vaciar{
                        font-family: $font-parrafos;
                        font-size: 15px;
                        margin-right: 20px;
                       
                        button.limpiar-carrito{
                            width: 40px;
                            height: 80px;
                            }
                    }
                }
                
                h2{
                    font-family: $font-titulos;
                    color: $color2;
                }
                p{
                    font-family: $font-parrafos;
                    color: $color2;
                }

            }
            .contenedor-comprar{
                button.continuar-compra{
                    margin-bottom: 10px;
                }
            }
            .continnuarCompra{
                .finalizar-compra{
                    a{
                        color: $color2;
                    }

                }
            }
    }

    .buscador{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 120px;
        height: 30px;
        input{
            box-shadow: 0px 7px 10px $color-shadow; 
            width: 40%;
            @media (max-width: $breakpoint-tablet){
                width: 80%;            
            }
        }
    }
    #galeria{
        width: 100%;
        display: flex;
        justify-content: center;
        div{          
            
            .item{
                border-radius: 2px;
                padding: 5px 2px 0px;
                .item-title{
                    font-family: $font-titulos;
                    color: $colorTitulos;
                    margin: 2px 3px;
                    font-size: 15px;
                }   
                .id-producto{
                    visibility: hidden;
                    width: 30px;
                    margin-left: 85%;
                    margin-top: 5px;
                    text-align: center;
                    font-family: $font-titulos;
                    color: $colorTitulos;
                    border-radius: 50%;
                    border: solid 1px ;
                }
                div{
                    .card-text{
                        font-family: $font-parrafos;
                        color: $colorParrafos;
                        font-size: 14px;
                    }
                    div{
                        button.btn{
                            font-family: $font-parrafos;
                            color: $color1;
                        }
                    }
                }

            }
            .item:hover{
                box-shadow: 0px 5px 10px $color-shadow;   
                .card-text{
                    color: $colorTitulos;

                }
            }
        }        
    }
}     