$color1: rgb(211, 65, 65);
$color2: rgb(252, 252, 252);
$color3: rgba(36, 3, 3, 0.623);
$breakpoint-tablet: 429px;



body {
    
    margin: 0;
    padding: 0;
    nav.navbar{
        height: auto;       
        padding: 0px;
        /* margin-bottom: 60px; */
        div.container-fluid{
            background-color: $color1;
            padding-top: 25px;
            margin-bottom:80px 0;
            p{
                color:$color2;
                text-decoration:none;
            }
            div.descripcion-productos{
                
                div.productos-contador{
                    b#contador-carrito{
                        color:$color2;
                    }      
                }
                .icon-menu{
                    margin-left: 15px;
                    height: 3em;
                }
            
            
            }
        
                
        }       
    }
    h2.titulo{
     margin-top: 120px;
     
      color: $color1;
    }
    #galeria{
        width: 100%;
        display: flex;
        justify-content: center;
        div{            
            div{
                h3{
                    font-size: 20px;
                }
                div{
                    h4{
                        font-size: 15px;
                    }
                    div{
                        button.btn{
                            color: $color1;
                        }
                    }
                }

            }
        }        
    }
    #scroll{
        background-color: $color3;  
        height: 60vh;
        overflow-y:auto;    
       
        .container{
            h2{
                margin: 20px 10px;
                color: $color2;
               
            }
            
            .shoppingCartItemsContainer{
                
                .shoppingCartItem{
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    img{
                        border-radius: 12%;
                        width: 30vh;
                        @media (max-width: $breakpoint-tablet){
                            display:none;
                            
                        }
                    }
                    p{
                        width: 130px;
                        font-size: 15px;
                        color: $color2;
                    }
                    .item-price{
                        width: 30px;
                    }
                    input{
                        height: 25px;
                        width: 20%;
                        border-radius: 10px;
                        margin-top: 10px;
                    }
                    button{
                        height: 35px;
                        
                    }
                }
            }
        }
        div {
            h2{
                color: $color1;
            }
            p{
                color: $color2;
            }

        }
        .contenedor-vaciar-carrito{
            .vaciar{
                font-size: 15px;
                margin: 2px;
                button.limpiar-carrito{
                    height: 80px;
                    }
            }


        }
    }
}     